/* Global Styles */
html {
  background-color: #1b262c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-content {
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  background-color: #0f4c75;
  padding: 20px 5%;
  z-index: 100;
}
/* Navbar Styles */
/* .logocombo {
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: #0F4C75;
  display: flex;
  z-index: 100;
}*/

.menu-bar {
  display: none;
}

.navbarcomponent {
  padding-top: 10px;
  display: inline;
  align-items: end;
}

.logo {
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  position: relative;
  top: 0;
}

.logoimg {
  max-width: 40px;
}

.navbar a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #00abf0;
}
/* Hero Section Styles */
.home {
  height: 100vh;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10%;
}

.home-image {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 25px solid #00abf0;
  background: #00abf0;
  border-radius: 20%;
  border: 25px solid #fff;
}
.i {
  width: 300px;
  height: 300px;
}

.home-content {
  max-width: 600px;
  color: #fff;
  text-align: right;
  font-family: "Poppins", sans-serif;
}

.home-content h3 {
  font-size: 40px;
  color: transparent;
  -webkit-text-stroke: 0.5px #fff;
  background-image: linear-gradient(#00abf0, #00abf0);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -300px 0;
  animation: animateText 6s linear infinite;
}

@keyframes animateText {
  0%,
  95%,
  100% {
    background-position: -410px 0;
  }
  65%,
  85% {
    background-position: 0 0;
  }
}

.home-content h1 {
  font-size: 55px;
  line-height: 1.2;
}

.home-content p {
  font-size: 16px;
  margin-top: 20px;
}

.home-sci {
  margin: 25px 0 40px;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.5s;
}

.home-sci a:hover {
  background: #00abf0;
  color: #fff;
  border-color: #00abf0;
  box-shadow: 0 0 10px #00abf0;
}

.btn {
  padding: 12px 35px;
  background: #00abf0;
  border-radius: 40px;
  font-size: 17px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #00abf0;
  transition: 0.5s;
}

.btn:hover {
  box-shadow: none;
}

.home-image img {
  position: relative;
  bottom: 25px;
  max-width: 300px;
}

/* About Section Styles */
.about {
  padding: 50px 10%;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.about h2 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-text {
  max-width: 600px;
}

.about-text p {
  margin-bottom: 20px;
}

.about-image img {
  max-width: 400px;
  border-radius: 10px;
  position: relative;
  left: 80px;
}

/* Projects Section Styles */
.projects {
  padding: 50px 10%;
  justify-content: space-between;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.projects h2 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project {
  background-color: #0f4c75;
  padding: 20px;
  border-radius: 10px;
}
.project:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.project h3 {
  margin-bottom: 10px;
}

.project a {
  color: #00abf0;
  text-decoration: none;
  margin-right: 10px;
}

/* Skills Section Styles */
.skills {
  padding: 50px 10%;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.skills h2 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 30px;
}
.skills-logo {
  /* width: 25px;
  position: relative;
  top: 8px;
  margin-top: -5px;
  margin-right: 3px; */
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.skills ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.skills li {
  background-color: #0f4c75;
  padding: 10px 20px;
  border-radius: 20px;
}
.skills li:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

/* Experience, Education, Certifications Section Styles */
.experience,
.education,
.certifications {
  padding: 50px 10%;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.experience-list:hover,
.education-item:hover,
.certification-list:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.experience h2,
.education h2,
.certifications h2 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.experience-list,
.education-list,
.certification-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.experience-item,
.education-item,
.certification-item {
  background-color: #0f4c75;
  padding: 20px;
  border-radius: 10px;
}
.certifications a {
  color: #00abf0;
  text-decoration: none;
  margin-right: 10px;
}

/* Contact Section Styles */
.contact {
  padding: 50px 10%;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.contact h2 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.contact form {
  display: grid;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.contact input,
.contact textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.contact button {
  padding: 10px;
  background-color: #00abf0;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.contact button:hover {
  background-color: #3282b8;
}
.contact-info a {
  font-size: 18px;
  color: #3282b8;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}
.contact-info a:first-child:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
/*BacktoTop*/
.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3282b8;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #BBE1FA;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  left: 45%;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: black;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: #BBE1FA;
  align-items: center;
}

.button:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: black;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}

/* Footer Styles */
footer {
  padding: 20px 10%;
  background-color: #0f4c75;
  color: #fff;
  text-align: center;
}

.footer-sci a {
  margin: 0 10px;
  color: #00abf0;
  font-size: 20px;
  text-decoration: none;
}

.footer-sci a:hover {
  color: #fff;
}

@media (max-width: 500px) {
  * {
    /* overflow-x: hidden; */
  }
  .navbarcomponent {
    display: none;
  }
  .menu-bar {
    display: block;
  }
  .logocombo a {
    display: flex;
    align-items: center;
  }
  .home {
    flex-direction: column;
  }
  .home-content h1,
  .home-content h3 {
    font-size: 6vh;
  }
  .about-content {
    flex-direction: column;
  }
  .about-image img {
    width: 50%;
  }
}
